*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;

}
.menu-dropdown{
    background-color: blueviolet;
    height: 50px;
    line-height: 50px;
    position: relative;
    width: 100%;
    margin-top: 0;
}
.menu-dropdown ul {
    list-style: none;
}
.menu-dropdown ul li{
    float: left;
}
.menu-dropdown ul li a {
    float: left;
    width: 150px;
    display: block;
    text-align: center;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.menu-dropdown ul li a:hover{
    background-color: brown;
    display: block;
}

.menu-dropdown ul li:hover ul{
    display: block;
}
.menu-dropdown ul ul{
    display: none;
    list-style: none;
    position: absolute;
    background-color: #00ffff;
    color: black;
    top:50px;
    width: 150px;
}
.menu-dropdown ul ul li a {
    float: none;
    display: block;
}
.menu-dropdown ul ul li a:hover{
    columns: #000000;
}
